<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
		
       <!-- Database connection settings -->
	<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
	<property name="connection.url">
		jdbc:mysql://localhost:3306/yzmanager?characterEncoding=UTF-8
	</property>
	<property name="connection.username">root</property>
	<property name="connection.password">123456</property>
        <!-- JDBC connection pool (use the built-in) 
        <property name="connection.pool_size">1</property>-->


    <property name="c3p0.min_size">10</property>
	<property name="c3p0.max_size">100</property>
	<property name="c3p0.timeout">1800</property>
	<property name="c3p0.max_statement">100</property> 
	<!-- 每隔120秒检查连接池里的空闲连接 ，单位是秒-->
    <property name="c3p0.idle_test_period">120</property> 
	<!-- 当连接池里面的连接用完的时候，C3P0一下获取的新的连接数 -->
	<property name="hibernate.c3p0.acquire_increment">3</property>
	<!-- 每次都验证连接是否可用 -->
	<property name="hibernate.c3p0.validate">true</property>
	
      <!-- SQL dialect -->
	<property name="dialect">
		org.hibernate.dialect.MySQLDialect
	</property>

	<!-- Enable Hibernate's automatic session context management -->
	<property name="current_session_context_class">thread</property>

	<!-- Drop and re-create the database schema on startup -->

	<!--<property name="hbm2ddl.auto">create</property>-->

	<mapping resource="com/yz/manager/bean/user.hbm.xml" />
	<mapping resource="com/yz/manager/archives/bean/archives.hbm.xml" />
	<mapping resource="com/yz/manager/bean/department.hbm.xml" />
	<mapping resource="com/yz/manager/bean/firstClass.hbm.xml" />
	<mapping resource="com/yz/manager/bean/power.hbm.xml" />
	<mapping resource="com/yz/manager/bean/secondClass.hbm.xml" />
    <mapping resource="com/yz/manager/bean/system.hbm.xml" />
    <mapping resource="com/yz/manager/bean/manager.hbm.xml" />
    <mapping resource="com/yz/manager/personal/bean/personal.hbm.xml" />
    <mapping resource="com/yz/manager/expense/bean/gCompany.hbm.xml" />
    <mapping resource="com/yz/manager/expense/bean/payMode.hbm.xml" />
    <mapping resource="com/yz/manager/expense/bean/expense.hbm.xml" />
    <mapping resource="com/yz/manager/storehouse/bean/shouse.hbm.xml" />
    <mapping resource="com/yz/manager/storehouse/bean/houseManager.hbm.xml" />
    <mapping resource="com/yz/manager/storehouse/bean/storeHouse.hbm.xml" />
    <mapping resource="com/yz/manager/storehouse/bean/outStoreHouse.hbm.xml" />
    <mapping resource="com/yz/manager/custom/bean/customType.hbm.xml" />
    <mapping resource="com/yz/manager/custom/bean/customArea.hbm.xml" />
    <mapping resource="com/yz/manager/custom/bean/userArea.hbm.xml" />
    <mapping resource="com/yz/manager/custom/bean/custom.hbm.xml" />
    <mapping resource="com/yz/manager/custom/bean/customState.hbm.xml" />
     
    </session-factory>

</hibernate-configuration>
